@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: "Quattro Regular";
	src: url("/cng-storage-guide/iAWriterQuattroS-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Quattro Regular", sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background: rgb(29, 35, 43);
		color: rgb(213, 218, 227);
	}
}
